<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"><span class="lstick"></span>{{ titulo }} <small>{{ idRegistro }}</small></h3>
                <form action="#" class="form-horizontal">
                    <div class="form-body">
                        <hr class="m-t-0 m-b-20">

                        <!-- =====================================================
                        // Datos personales
                        ======================================================= -->
                        <div class="form-group row">
                            <label class="control-label text-md-right col-md-2">Nombre <span class="text-danger">*</span></label>
                            <div class="col-md-10">
                                <input #txtNombre type="text" name="nombre" class="form-control" placeholder="escriba un nombre" [(ngModel)]="usuario.nombre">
                                <small class="form-control-feedback">asda dasd</small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label text-md-right col-md-2">Paterno</label>
                            <div class="col-md-10">
                                <input #txtPaterno type="text" name="paterno" class="form-control" placeholder="escriba una llave" [(ngModel)]="usuario.paterno">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label text-md-right col-md-2">Materno</label>
                            <div class="col-md-10">
                                <input #txtEmail type="text" name="email" class="form-control" placeholder="escriba una llave" [(ngModel)]="usuario.materno">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label text-md-right col-md-2">Tipo identificaci&oacute;n</label>
                            <div class="col-md-10">
                                <select class="form-control custom-select">
                                    <option value="">Male</option>
                                    <option value="">Female</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label text-md-right col-md-2">Identificaci&oacute;n</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="ingrese un orden">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label text-md-right col-md-2">Tel&eacute;fono</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="ingrese un orden">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label text-md-right col-md-2">Email</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="ingrese un orden">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label text-md-right col-md-2">Activo</label>
                            <div class="col-md-10">
                                <div class="switch">
                                    <label>
                                        NO
                                        <input type="checkbox" id="chkbox35" checked="checked">
                                        <span class="lever switch-col-teal"></span>
                                        SI
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!-- =====================================================
                        // Acceso
                        ======================================================= -->
                        <hr class="m-t-0 m-b-40">
                        <h3 class="card-title">Acceso</h3>
                        <hr>
                        <div class="form-group row">
                            <label class="control-label text-md-right col-md-2">Rol</label>
                            <div class="col-md-10">
                                <select class="form-control custom-select">
                                    <option value="">Male</option>
                                    <option value="">Female</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label text-md-right col-md-2">Username</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="ingrese un orden">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label text-md-right col-md-2">Contraseña</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="ingrese un orden">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label text-md-right col-md-2">Repetir contraseña</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="ingrese un orden">
                            </div>
                        </div>

                        <!-- =====================================================
                        // Permisos
                        ======================================================= -->
                        <hr class="m-t-0 m-b-40">
                        <h3 class="card-title">Permisos</h3>
                        <hr>
                        <h6 class="card-subtitle"><i class="fa fa-question-circle"></i> Puede hacer click sobre el nombre de la p&aacute;gina para marcar / desmarcar todos los permisos</h6>

                        <!-- begin ngFor: permisos -->
                        <div *ngFor="let permiso of permisos" class="row">
                            <div class="col-12">
                                <div class="ribbon-wrapper">
                                    <div class="ribbon ribbon-bookmark ribbon-info">{{ permiso.nombreCategoria }}</div>
                                    <div class="ribbon-content row m-t-20">

                                        <!-- begin ngFor: paginas -->
                                        <div *ngFor="let pagina of permiso.paginas" class="col-sm-6 col-lg-4 col-xl-3">
                                            <div class="form-group">
                                                <h5 class="sist-cursor-pointer" onclick="javascript:alert('seleccionar todos');"><i class="fa fa-file-text-o"></i> {{ pagina.nombrePagina }}</h5>
                                                <div class="controls">

                                                    <!-- begin ngFor: acciones -->
                                                    <fieldset *ngFor="let accion of pagina.acciones">
                                                        <label class="custom-control custom-checkbox">
                                                            <input type="checkbox" value="x" name="styled_checkbox" class="custom-control-input" [checked]="accion.seleccionado">
                                                            <span class="custom-control-indicator"></span> <span class="custom-control-description">{{ accion.nombre }}</span>
                                                        </label>
                                                    </fieldset>
                                                    <!-- end ngFor: acciones -->

                                                </div>
                                            </div>
                                        </div>
                                        <!-- begin ngFor: paginas -->

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end ngFor: permisos -->

                        <hr class="m-t-40">
                        <div class="form-actions text-right">
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-secondary" [routerLink]="['/usuario/adm-usuario-listado']"> <i class="fa fa-times"></i> Cancelar</button>
                                    <button type="submit" class="btn btn-success font-weight-bold" [routerLink]="['/usuario/adm-usuario-listado']"> <i class="fa fa-save"></i> Guardar</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>