<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Filtros de b&uacute;squeda</h4>
                <form action="#">
                    <div class="form-body">
                        <div class="row p-t-10">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Nombre / Username</label>
                                    <input type="text" id="txtNombre" class="form-control" placeholder="escriba un texto">
                                    <small class="form-control-feedback"> This is inline help </small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <input type="text" id="txtEmail" class="form-control" placeholder="escriba un texto">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Rol</label>
                                    <select class="form-control custom-select">
                                        <option value="">Male</option>
                                        <option value="">Female</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions text-right">
                        <button type="submit" class="btn btn-success"> <i class="fa fa-search"></i> Buscar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Resultado de la b&uacute;squeda</h4>
                <h6 class="card-subtitle">Total de registros: {{ listadoUsuarios.length }}</h6>
                <div class="table-responsive m-t-20">
                    <table id="myTable" class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Rol</th>
                                <th>Activo</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of listadoUsuarios">
                                <td>{{ usuario.idUsuario }}</td>
                                <td>{{ usuario.nombre }}</td>
                                <td>{{ usuario.username }}</td>
                                <td>{{ usuario.email }}</td>
                                <td>{{ usuario.idRol }}</td>
                                <td>{{ usuario.activo }}</td>
                                <td class="text-nowrap text-center">
                                    <button type="button" class="btn btn-success btn-sm" [routerLink]="['/usuario/adm-usuario-detalle']"><i class="fa fa-pencil"></i> Editar</button>
                                    <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="text-right m-t-20">
                    <button type="button" class="btn btn-info btn-rounded" [routerLink]="['/usuario/adm-usuario-detalle']"> <i class="fa fa-plus"></i> Agregar nuevo usuario</button>
                </div>

            </div>
        </div>
    </div>
</div>