<app-admin-header></app-admin-header>
<app-admin-sidebar></app-admin-sidebar>

<!-- ================================================= -->
<!-- BEGIN Page Content -->
<!-- ================================================= -->
<div class="page">
    <app-admin-breadcrumbs></app-admin-breadcrumbs>

    <div class="page-content">
        <!-- <router-outlet></router-outlet> -->

        <div class="panel">
            <div class="panel-body container-fluid">
                <h2>Mi primera pantalla :D</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate impedit incidunt eaque! Et delectus, vitae adipisci optio labore voluptate, magni reiciendis quisquam commodi magnam ipsum excepturi architecto deleniti amet consectetur.</p>
            </div>
        </div>


    </div>
</div>
<!-- ================================================= -->
<!-- END Page Content -->
<!-- ================================================= -->

<app-admin-footer></app-admin-footer>