<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Filtros de b&uacute;squeda</h4>
                <form action="#">
                    <div class="form-body">
                        <div class="row p-t-10">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label">Nombre</label>
                                    <input type="text" id="txtNombre" class="form-control" placeholder="escriba un texto">
                                    <small class="form-control-feedback"> This is inline help </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions text-right">
                        <button type="submit" class="btn btn-success"> <i class="fa fa-search"></i> Buscar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Resultado de la b&uacute;squeda</h4>
                <h6 class="card-subtitle">Total de registros: {{ listadoCategorias.length }}</h6>
                <div class="table-responsive m-t-20">
                    <table id="myTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Orden</th>
                                <th>Activo</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let categoria of listadoCategorias">
                                <td>{{ categoria.idPaginaCategoria }}</td>
                                <td>{{ categoria.nombre }}</td>
                                <td>{{ categoria.orden }}</td>
                                <td>{{ categoria.activo }}</td>
                                <td class="text-nowrap text-center">
                                    <button type="button" class="btn btn-success btn-sm" [routerLink]="['/pagina/adm-pagina-categoria-detalle']"><i class="fa fa-pencil"></i> Editar</button>
                                    <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="text-right m-t-20">
                    <button type="button" class="btn btn-info btn-rounded" [routerLink]="['/pagina/adm-pagina-categoria-detalle']"> <i class="fa fa-plus"></i> Agregar nueva categor&iacute;a</button>
                </div>
            </div>
        </div>
    </div>
</div>