<app-adm-header></app-adm-header>
<app-adm-sidebar></app-adm-sidebar>

<!-- ================================================= -->
<!-- BEGIN Page Content -->
<!-- ================================================= -->
<div class="page">
    <app-adm-breadcrumbs></app-adm-breadcrumbs>

    <div class="page-content">
        <router-outlet></router-outlet>

        <!-- <div class="panel">
            <div class="panel-body container-fluid">
                <h2>Mi primera pantalla :D</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate impedit incidunt eaque! Et delectus, vitae adipisci optio labore voluptate, magni reiciendis quisquam commodi magnam ipsum excepturi architecto deleniti amet consectetur.</p>
            </div>
        </div> -->


    </div>
</div>
<!-- ================================================= -->
<!-- END Page Content -->
<!-- ================================================= -->

<app-adm-footer></app-adm-footer>