<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">{{ titulo }} <small>{{ idRegistro }}</small></h3>
                <form action="#" class="form-horizontal">
                    <div class="form-body">
                        <hr class="m-t-0 m-b-40">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-2">Nombre</label>
                                    <div class="col-md-10">
                                        <input #txtNombre type="text" name="nombre" class="form-control" placeholder="escriba un nombre" [(ngModel)]="rol.nombre">
                                        <small class="form-control-feedback">&nbsp;</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-2">Llave</label>
                                    <div class="col-md-10">
                                        <input #txtLlave type="text" name="llave" class="form-control" placeholder="escriba una llave" [(ngModel)]="rol.llave">
                                        <small class="form-control-feedback">&nbsp;</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-actions text-right">
                        <div class="row">
                            <div class="col-12">
                                <button type="button" class="btn btn-secondary"> <i class="fa fa-times"></i> Cancelar</button>
                                <button type="submit" class="btn btn-success font-weight-bold"> <i class="fa fa-save"></i> Guardar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>